---
import "./_style.scss"
---

<section class="details" id="details">
  <div class="container">
    <div class="flex bg-white rounded-4xl">
      <div class="card h-[220px] p-4 border-r-2 border">
        <div class="left">
          <i class="bi bi-person-video3"></i>
        </div>
        <div class="body">
          <h2>Malakali mutaxassislar</h2>
          <p>
            Katta ish tajribasi Ishga joylashish bo‘yicha to‘liq xizmatlar
            spektri
          </p>
        </div>
      </div>
      <div class="card h-[220px]">
        <div class="left">
          <i class="bi bi-person-video3"></i>
        </div>
        <div class="body">
          <h2>Malakali mutaxassislar</h2>
          <p>
            Katta ish tajribasi Ishga joylashish bo‘yicha to‘liq xizmatlar
            spektri
          </p>
        </div>
      </div>
      <div class="card h-[220px]">
        <div class="left">
          <i class="bi bi-person-video3"></i>
        </div>
        <div class="body">
          <h2>Malakali mutaxassislar</h2>
          <p>
            Katta ish tajribasi Ishga joylashish bo‘yicha to‘liq xizmatlar
            spektri
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
