---
import "./_style.scss";
---

<section id="service">
  <div class="container mx-auto">
    <div class="mx-auto">
        <p class="text-center">Services</p>
        <h1 class="text-center">What can we offer</h1>
       <small class="text-center">
        Decisions are made by professionals. We guarantee high quality of service.
       </small>
    </div>
  </div>
</section>
